*{
	cursor: default;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header{

	width: 100%;
	position: fixed;
	top: 0;
	background-color: #5F9EA0;
	min-height: 55px;
}

.d-menu{

	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
}

.menu{
	width: 100%;
	position: absolute;
	display: block;
	position: fixed;
}

.menu-triger{
	display: none;
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	left: 20px;
	top: 10px;
	background-image: url(../img/menu.png);
	background-size: cover;
}

.menu-close{
	display: none;
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	left: 20px;
	top: 10px;
	background-image: url(../img/exit.png);
	background-size: cover;
}

.menu-popup{
	background-color: #5F9EA0;
	width: 100%;
	margin-top: 50px;

}

.menu-popup ul{
	text-align: center;
	padding: 0;
}

.menu-popup li a{
	text-decoration: none;
	color: #F2F2F2;
	font-size: 18pt;
	line-height: 2.5;
}

.nav{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 60%;
	text-align: center;
	align-self: center;
}

.social{
	width: 10%;
	align-items: center;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-self: center;
}

.nav-element{
	align-items: center;
}

.logo{
	font-family: 'Balsamiq Sans', cursive;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.nav-text{
	font-family: 'Commissioner', sans-serif;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.photo{
	background-image: url("../img/eat.jpg");
	width: 100%;
	height: 100%;
	min-height: 850px;
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
}

.photo-text{
	font-family: 'Balsamiq Sans', cursive;
	font-size: 100px;
	color: white;
}

.container{
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-head{
	font-family: 'Commissioner', sans-serif;
	font-size: 35px;
}

.container-text{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: black;
}

details summary{
	font-family: 'Commissioner', sans-serif;
	font-size: 20px;
	padding-bottom: 20px;
}

:focus{
	outline-width: none;
	outline-style: none;
	outline-color: none;
}


.footer{
	width: 100%;
	background-color: #5F9EA0;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-top{
	font-family: 'Commissioner', sans-serif;
	font-size: 25px;
}
.footer-el{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

@media screen and (min-width: 1300px){
	#photo{
		height: 100vh;
	}
	#header{
	margin: 0;
	padding: 0;
	height: 7%;
	background-color: #5F9EA0;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	position: fixed;
	top: 0;
}
}
@media screen and (max-width: 1150px){
	#social{
		width: 15%;
	}	
	#container{
		width: 80%;
	}
	#photo{
		min-height: 500px;
	}
}

@media screen and (max-width: 950px){
	.nav{
		width: 75%;
	}
	#social{
		width: 20%;
	}	
	#text_photo{
		font-size: 30px;
	}
	#photo{
		min-height: 250px;
	}
	#photo-text{
		font-size: 60px;
	}
	#container-head{
	font-size: 25px;
	}

}

@media screen and (max-width: 720px){
	#log-pod{
		display: none;
	}
	#nav{
		justify-content: space-between;
	}
	#header{
		justify-content: space-between;
	}
	#photo{
		min-height: 200px;
	}
	#container{
		width: 90%;
	}
	#container-text{
		font-size: 18px;
	}
}

@media screen and (min-width: 600px){
	.menu-triger{
		display: none;
	}
	.menu-popup{
		display: none;
	}

}

@media screen and (max-width: 600px){
	#header{
		display: flex;
		flex-direction: column;
		align-self: center;
	}
	#nav{
		display: flex;
		flex-direction: column;
		align-self: center;
	}
	#text_photo{
		font-size: 23px;
	}
	#footer{
		width: 100%;
		margin-top: 20px;
	}
	#about{
		font-size: 25px;
	}
	#about-text{
		font-size: 15px;
	}
	#table-wrap{
		overflow-x: auto;
	}
	.d-menu{
		display: none !important;
	}
	.menu-popup{
		display: none;
	}
}

@media screen and (max-width: 480px){
	#photo{
		min-height: 200px;
	}
	#text_photo{
		font-size: 15px;
	}
	#photo-text{
		font-size: 40px;
	}
	#container-head{
	font-size: 20px;
	}
	#container-text{
		font-size: 16px;
	}
	#nav-text{
		font-size: 16px;
	}
}

